.m-1 {
  margin: 1rem;
}
.my-1 {
  margin: 1rem 0;
}
.p-1 {
  padding: 1rem;
}
.py-1 {
  padding: 1rem 0;
}
.m-2 {
  margin: 2rem;
}
.my-2 {
  margin: 2rem 0;
}
.p-2 {
  padding: 2rem;
}
.py-2 {
  padding: 2rem 0;
}
.m-3 {
  margin: 3rem;
}
.my-3 {
  margin: 3rem 0;
}
.p-3 {
  padding: 3rem;
}
.py-3 {
  padding: 3rem 0;
}
.m-4 {
  margin: 4rem;
}
.my-4 {
  margin: 4rem 0;
}
.p-4 {
  padding: 4rem;
}
.py-4 {
  padding: 4rem 0;
}
.m-5 {
  margin: 5rem;
}
.my-5 {
  margin: 5rem 0;
}
.p-5 {
  padding: 5rem;
}
.py-5 {
  padding: 5rem 0;
}
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.main-container {
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.text-primary {
  color: #17a2b8;
}
.bg-primary {
  background-color: #17a2b8;
  color: #fff;
}
.bg-dark {
  background-color: #343a40;
  color: #fff;
}
.bg-light {
  background-color: #f4f4f4;
  color: #333;
  border: #ccc 1px solid;
}
.bg-success {
  background-color: #28a745;
  color: #fff;
}
.bg-danger {
  background-color: #dc3545;
  color: #fff;
}
.bg-success {
  background-color: #28a745;
  color: #fff;
}
.bg-white {
  background-color: #fff;
  color: #333;
}
.btn-big {
  display: inline-block;
  background: #444444;
  color: #e4dcdc;
  padding: 0.4rem 2rem;
  font-size: 2rem;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.btn-big:hover {
  color: #444444;
  background: #e4dcdc;
}
.btn {
  display: inline-block;
  background: #f4f4f4;
  color: #1b1919;
  padding: 0.4rem 1.3rem;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.btn.btn-primary {
  background-color: #17a2b8;
  color: #fff;
}
.btn.btn-primary:hover {
  background: #1ab6cf;
}
.btn.btn-dark {
  background-color: #343a40;
  color: #fff;
}
.btn.btn-dark:hover {
  background: #7c7f81;
}
.btn.btn-success {
  background-color: #28a745;
  color: #fff;
}
.btn.btn-success:hover {
  background: #2dbc4e;
}
.btn.btn-danger {
  background-color: #dc3545;
  color: #fff;
}
.btn.btn-danger:hover {
  background: #e04b59;
}
.btn:hover {
  background: #626d78;
  color: #fff;
}
.alert {
  padding: 0.8rem;
  margin: 1rem;
  opacity: 0.9;
  background: #f4f4f4;
  color: #333;
}
.alert.alert-primary {
  background-color: #17a2b8;
  color: #fff;
}
.alert.alert-dark {
  background-color: #343a40;
  color: #fff;
}
.alert.alert-success {
  background-color: #28a745;
  color: #fff;
}
.alert.alert-danger {
  background-color: #dc3545;
  color: #fff;
}
.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.date {
  margin-top: -2rem;
  font-size: 2rem;
  color: #464647;
}
.post-form-grid {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 2rem;
}
.form-group {
  margin: 1.2rem 0;
}
.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}
.category-list li {
  display: inline;
}
.form input[type='text'],
.form input[type='date'],
.form input[type='email'],
.form input[type='password'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}
.form input[type='submit'] {
  font: inherit;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: rgba(117, 117, 110, 0.13);
  color: #333;
}
a {
  color: #4c6e74;
  text-decoration: none;
}
a:hover {
  color: rgb(62, 64, 66);
}
ul {
  list-style: none;
}
img {
  width: 100%;
}
.main-img {
  margin-top: 3.5rem;
  max-height: 600px;
}
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px #17a2b8;
  opacity: 0.9;
}
.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar a {
  color: white;
  padding: 0.45rem;
  margin: 0 0.25rem;
}
.navbar a:hover {
  color: #17a2b8;
}
.landing {
  margin-top: -5rem;
  position: relative;
  background: url('./img/showcase3.jpg') no-repeat center center/cover;
  height: 100vh;
  background-attachment: fixed;
}

.landing-inner {
  color: #fff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 80%;
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.posts-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 6fr;
  grid-template-columns: 1fr 6fr;
  grid-template-areas: 'side list';
  gap: 2rem;
  justify-items: center;
}
.posts-grid .posts-top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
}
.posts-grid .posts-categories {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: side;
  font-size: 1.5rem;
  padding-left: -30px;
}

.posts-grid .posts-list {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: list;
}
.post {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 6fr;
  grid-template-columns: 2fr 6fr;
  gap: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 2rem;
  transition: 0.5s;
}
.post:hover {
  box-shadow: 0px 0px 5px #252524;
}
.post img {
  min-width: 200px;
}

.posts-top {
  background: url('./img/boat.jpg') no-repeat center center/cover;
  width: 100%;
  height: 300px;
  align-content: end;
  margin-top: -7rem;
  padding: 10rem 5rem 0;
  background-attachment: fixed;
  color: white;
}
.dash-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.post-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
}

.cat-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cat-menu {
  text-transform: uppercase;
  font-weight: 100;
  text-align: right;
}
.cat-menu li:hover {
  color: black;
}

.post-header {
  display: grid;
  width: 100%;
  height: 500px;
  align-content: end;
  margin-top: -7rem;
  padding: 10rem 5rem 0;
  background-attachment: fixed;
}

.ql-editor {
  min-height: 300px;
}

.mid {
  display: grid;
  grid-template-rows: auto;
  margin-bottom: 10rem;
  text-align: center;
  padding: 5rem;
}

.recent-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;

  background-color: #f0f1f1;
  height: 600px;
  align-content: center;
}

.feat-card {
  display: grid;
  font-size: large;
  transition: 0.5s;
  filter: grayscale(100%);
}

.feat-card:hover {
  box-shadow: rgba(0, 0, 15px, black);
  filter: grayscale(0%);
}
.card-image img {
  width: 100%;
  max-height: 250px;
}
.cat-cards {
  background: url('./img/category.jpg') no-repeat center center/cover;
  width: 100%;
  height: 500px;
  margin-top: -7rem;
  padding: 10rem 5rem 0;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
/*  from categorycard single item*/
.category-card {
  height: 100px;
  padding: 20px;
  background: rgba(26, 25, 25, 0.8);
  color: #fff;
  margin: 20px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  font-size: x-large;
  text-transform: uppercase;
  transition: 0.5s;
  cursor: pointer;
  font-weight: bolder;
}
.category-card:hover {
  background: rgba(240, 235, 235, 0.7);
  color: black;
  transform: scale(1.1);
}

@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }
  .container {
    margin-top: 9rem;
  }
  .navbar {
    display: block;
    text-align: center;
  }
  .navbar ul {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .navbar h1 {
    margin-bottom: 1rem;
  }
  .x-large {
    font-size: 3rem;
  }
  .large {
    font-size: 2rem;
  }
  .lead {
    font-size: 1rem;
  }
  .posts-grid {
    grid-template-areas: 'top top' 'list list' 'side side';
    gap: 1rem;
  }
  .post {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .dash-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .post-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
